# EditorConfig is awesome: https://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# JavaScript and TypeScript
[*.{js,jsx,ts,tsx,mjs,cjs}]
quote_type = single
# No semicolons - they are the devil's dingleberries
insert_semicolon = false

# Markdown
[*.md]
trim_trailing_whitespace = false
